*{
    margin: 0;
    padding: 0;
}
.shop{
    background-color: #b2f3b3;
    padding: 1rem;
    margin-bottom: 1rem;
}
#flex{
    display: flexbox;
    flex-direction: row;
}
.search_bar{
  display: flex;
  flex-direction: column;
  gap:  .20rem;
}
input{
  font-size: 1rem;
}

.brewery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
  gap: .20rem;
}

.brewery{
  border: 1px solid black;
}